# orientationd
type orientationd, domain;
type orientationd_exec, exec_type, file_type;

init_daemon_domain(orientationd)

allow orientationd input_device:chr_file { open read ioctl };
allow orientationd input_device:dir{ open read };
